
body {
 font-family: monospace;
 
    text-align: center;
    background: linear-gradient(135deg, #071A2F, #0B3D62, #082B45);
    padding: 30px;
}
/* ========================= Header ========================= */
header {
     margin-bottom: 30px; } 
     .logo { 
        font-size: 20px;
         font-weight: bold; 
         color: #38BDF8; }
         /* ========================= Welcome Page ========================= */
.welcome{ 
    
    min-height: 70vh;
     display: flex; 
     justify-content: center;
      align-items: center;
       text-align: center; }
       /* Welcome Content */
       .welcome-content {
         max-width: 700px; }
         /* Welcome Title */
.welcome h1 { 
    font-size: 45px; 
    color: #F1F5F9; 
    margin-bottom: 20px; }


  .welcome h1 span { 
        color: #38BDF8; }
/* Welcome Text */
  .welcome p { 
            font-size: 18px;
             line-height: 1.7; 
             color: #CBD5E1;
              margin-bottom: 35px; }
              .welcome button { 
                padding: 15px 30px;
                 font-size: 18px;
                  font-family: monospace; 
                  cursor: pointer;
                   background: #102A43; 
                   color: #F1F5F9;
                    border: 1px solid #38BDF8;
             border-radius: 8px; 
              transition: 0.3s; }
              /* Start Button */
      .welcome button:hover {
            transform: translateY(-5px); 
             background: #38BDF8;              
            color: #071A2F;
            box-shadow: 0 10px 30px rgba(56, 189, 248, 0.25); }
nav {
margin: 30px;
gap: 25px;
}
h1 {
    font-size: 40px;
     color: #38BDF8;
}
/* ========================= Programming Fields ========================= */
.fields {
    display: block;
  
    gap: 40px;
    max-width: 700px;
    margin: 30px auto;
}

.fields button {
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    background-attachment: fixed;
    color: #F1F5F9;
    margin: 20px;
     background: #102A43;
}

.course {
    display: none;
    background: #0c4876;
    padding: 30px;
    max-width: 500px;
    margin: 30px auto;
    color: #38BDF8;
}

.course button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #102A43;
    color: #F1F5F9;
} 
.fields button:hover {
    transform: translateY(-8px);

    border-color: #38BDF8;

    background: #172033;

    box-shadow:
        0 10px 30px rgba(56, 189, 248, 0.15);
}
.logo {
     font-size: 20px;
    font-weight: bold;
    color: #38BDF8;
}
footer {
    font-family: monospace;

 text-align: center;

    border-top: 1px solid #1E293B;

    color: #000000;

    font-size: 14px;
}
.course button:hover {
    background: #38BDF8;
    color: #0B1120;
}
